<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>index</title>
<link th:href="@{/cs/common.css}" rel="stylesheet">
<script th:src="@{/js/common.js}" crosslrigin="anonymous"></script>


</head>
<body>
	<h1>index</h1>
	<ul>
		<li><a href="/sample/hello" target="_blank">/sample/hello</a></li>
		<li><a href="/test/chao" target="_blank">/test/chao</a></li>
		<li><a href="/api/sample/hello" target="_blank">/api/sample/hello</a></li>
		<li><a href="/api/sample/redisCache" target="_blank">/api/sample/redisCache</a></li>
	</ul>
	
</body>
</html>
